:root{
    --main-color: #2BFF97;
    --main-second-color: #FF4D52;
    --secondary-color: #02A857;
    --secondary-second: #A80100;
    --color: white;
    --color-transparent: rgba(255, 255, 255, 0.5)
}

body{
    margin: 0;
    font-family: 'Muli', sans-serif;
    color:var(--color);
}

button{
    background-color: var(--color-transparent);
    border: solid 3px;
    border-radius: 5px;
    color: var(--color);
    cursor: pointer;
    font-size: 16px;  
    font-weight: bold; 
    height: 2em;
    width: fit-content;
    letter-spacing: 1px;
    margin: 10px 0px;
}

button:hover{
    background-color: var(--main-second-color);
    transition: 305ms;
    transform: scale(1.5);
}

.header{
    background-color:var(--main-color);
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header__logo{
    margin: 1em;
    width: 5em;
    height: 5em;
}

.header__description{
    text-align: center;
    font-family: 'Major Mono Display', monospace;
    padding-left: 9em;
}

.header__menu{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 2em 0.5em 0;
    align-self: flex-end;
}

.header__menu li{
    margin-left: 1em;
}

.main{
    background: linear-gradient(var(--main-color), var(--main-second-color));
}

.main__item{
    display: flex;
    justify-content: center;
    margin: 0;
    font-family: 'Major Mono Display', monospace;
}

.projects{
    padding: 3em 3em;
    display: flex;
    flex-direction: column;
}

.projects__item{
    display: flex;
    justify-content: space-between;
    margin: 3em;
    border: 3px solid var(--color) ;
    border-radius: 3em;
}

.projects__item--details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    padding: 2em;
}

.projects__item img{
    margin: 1em;
    width: 15em;
    height: 15em;
}

.aboutMe{
    display: flex;
    justify-content: space-around;
    margin: 2.5em 0;
}

.aboutMe__item{
    text-align: center;
    width: 15%;
    height: fit-content;
}

.aboutMe__item--details{
    font-size: x-large;
    border: 3px solid var(--color);
    border-radius: 2em;
    background-color: var(--color-transparent);
}

.aboutMe__item--details ul{
    list-style: none;
    padding: 0;
}

.aboutMe__item--details li{
    padding: 0.5em;
}