:root{
    --main-color: #02A857;
    --main-second-color: #F51B00;
    --secondary-color: #2BFF97;
    --secondary-second: #A80100;
    --color: white;
}

body {
    margin: 0;
    font-family: 'Muli', sans-serif;
    color:var(--color)
}

.header{
    background-color: var(--main-color);
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header__logo{
    margin: 1em;
    width: 5em;
    height: 5em;
}

.header__description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Major Mono Display', monospace;
}

.header__menu{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 2em 0.5em 0;
    align-self: flex-end;
}

.header__menu li{
    margin-left: 1em;
}

.header__menu button{
    background-color: rgba(255, 255, 255, 0.5);
    border: solid 3px;
    border-radius: 5px;
    color: var(--color);
    cursor: pointer;
    font-size: 16px;  
    font-weight: bold; 
    height: 2em;
    width: fit-content;
    letter-spacing: 1px;
    margin: 10px 0px;
}