.TitleHeader {
	width: 100%;
	padding: 16px 16px;
	background-color: var(--primary-color);
}

.TitleHeader.center {
	text-align: center;
}

.TitleHeader.right {
	text-align: right;
}

.TitleHeader.secondary {
	color: var(--primary-color);
	border-top: 4px solid var(--primary-color);
	border-bottom: 5px solid var(--primary-color);
	background-color: transparent;
}
