.Navbar {
	position: fixed;
	width: 95px;
	height: 100vh;
	padding: 4px;
	display: flex;
	align-items: center;
	background-color: var(--primary-color);
	font-weight: 700;
}

.Navbar ul li {
	margin: 32px 0;
}

.Navbar ul li:hover {
	cursor: pointer;
	color: var(--accent-color);
	transition: 0.5s 0s ease;
}
