.SectionMain {
	width: 100%;
	min-width: 320px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 32px;
}

.SectionMain .Button {
	margin-bottom: 32px;
}
