.Home {
	display: grid;
	grid-template-columns: 88px calc(40% - 88px) auto;
}

.Home .Hero {
	grid-column: 2/3;
	height: 100vh;
}

.Home main {
	display: grid;
	grid-template-rows: 35% 65%;
}

.Home .SectionMain:nth-child(1) .children-container {
	display: flex;
	justify-content: space-between;
	width: 80%;
}

.Home .SectionMain:nth-child(2) .children-container {
	width: 80%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: calc(35% - 12px) calc(30% - 12px) calc(35% - 12px);
	gap: 12px;
}

.Home .ProjectCard:nth-child(1) {
	grid-column: 1 / 2;
	grid-row: 1 / 3;
}

.Home .ProjectCard:nth-child(3) {
	grid-row: 2 / 4;
}

@media only screen and (max-width: 1255px) {
	.Home .SectionMain:nth-child(1) .children-container {
		width: 90%;
	}

	.Home .SectionMain:nth-child(2) .children-container {
		width: 90%;
	}
}

@media only screen and (max-width: 1024px) {
	.Home {
		grid-template-columns: 88px 1fr;
	}

	.Home .Hero {
		height: 100vh;
	}

	.Home main {
		grid-column: 2 / 3;
		grid-template-rows: auto;
	}

	.Home .SectionMain:nth-child(1) {
		height: 30vh;
	}

	.Home .SectionMain:nth-child(2) {
		height: 70vh;
	}
}

@media only screen and (max-width: 555px) {
	.Home {
		grid-template-columns: 1fr;
	}

	.Home .Hero {
		height: 150vh;
		background-size: 235%;
		background-position: top;
	}

	.Home .Hero::before {
		background: linear-gradient(
			180deg,
			rgba(0, 0, 0, 0) 0%,
			rgba(0, 0, 0, 0.5) 25%,
			rgba(0, 0, 0, 1) 45%
		);
	}

	.Home .SectionMain:nth-child(1) {
		height: max-content;
	}

	.Home .SectionMain:nth-child(2) {
		height: max-content;
	}

	.Home .SectionMain:nth-child(1) .children-container {
		justify-content: center;
		gap: 24px;
		flex-wrap: wrap;
	}

	.Home .SectionMain:nth-child(2) .children-container {
		grid-template-columns: 1fr;
		grid-template-rows: 220px 220px;
	}

	.Home .ProjectCard:nth-child(2),
	.Home .ProjectCard:nth-child(4) {
		display: none;
	}

	.Home .ProjectCard:nth-child(1),
	.Home .ProjectCard:nth-child(3) {
		grid-row: auto;
	}
}
