:root {
	--primary-color: #010101;
	--secondary-color: #faf5ff;
	--accent-color: #da22ff;
	--linear-gradient: linear-gradient(
		to right,
		#da22ff 0%,
		#9733ee 51%,
		#da22ff 100%
	);
	--shadow-gradient: linear-gradient(
		180deg,
		rgba(0, 0, 0, 0) 0%,
		rgba(0, 0, 0, 0.5) 44%,
		rgba(0, 0, 0, 1) 88%
	);
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	color: var(--secondary-color);
	font-family: 'Montserrat', sans-serif;
	background-color: var(--secondary-color);
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
