:root {
	--primary-color: #010101;
	--secondary-color: #faf5ff;
	--accent-color: #8c30f5;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	color: var(--secondary-color);
	font-family: 'Montserrat', sans-serif;
	background-color: var(--secondary-color);
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
