---
import '../styles/global.css';
interface Props { lang?: string; title?: string; description?: string }
const { lang = 'en', title = 'Mauro Brandan — Software Developer', description = '' } = Astro.props;
---
<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description} />
		<meta name="author" content="Mauro Brandan" />
		<meta name="keywords" content="Mauro Brandan, Software Engineer, Web Developer" />
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		min-height: 100%;
	}
</style>
